@model BookStore.ViewModels.BookVM

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/css/Book/BookAdd.css?v=002">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    <br />
    <br />
    <br />
    <script type="text/javascript">
        $(function () {
            $("#fileupload").change(function () {
                $("#dvPreview").html("");
                var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                if (regex.test($(this).val().toLowerCase())) {
                    if (typeof (FileReader) != "undefined") {
                        $("#dvPreview").show();
                        $("#dvPreview").append("<img />");
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $("#dvPreview img").attr("src", e.target.result);
                            $("#dvPreview img").attr("style", "height:120px;width: 100px");
                        }
                        reader.readAsDataURL($(this)[0].files[0]);
                    } else {
                        alert("This browser does not support FileReader.");
                    }
                } else {
                    alert("Please upload a valid image file.");
                }
            });
        });
    </script>

    <a href="/Writer/WriterAdd?IsFromBook=true" class="btn btn-dark newBookButtonW">New Writer</a>
    <a href="/Genre/GenreAdd?IsFromBook=true" class="btn btn-dark newBookButton">New Genre</a>

    <form asp-action="BookAdd" class="form" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">

                    <label asp-for="@Model.Book.BookName" class="control-label"></label>
                    <input asp-for="@Model.Book.BookName" class="form-control" />
                    <span asp-validation-for="@Model.Book.BookName" class="text-danger"></span>
                    <br />
                    <label asp-for="@Model.Book.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Book.Description" class="form-control"></textarea>
                    <br />
                    <label class="control-label">WriterName</label>
                    <select asp-for="@Model.Book.WriterId" class="form-control" asp-items="@(new SelectList(Model.Writers,"WriterId","WriterName"))">
                        <option value="">Please select one</option>
                    </select>
                    <span asp-validation-for="@Model.Book.WriterId" class="text-danger"></span>
                    <br />
                    <label class="control-label">GenreName</label>
                    <select asp-for="@Model.Book.GenreId" class="form-control" asp-items="@(new SelectList(Model.Genres,"GenreId","GenreName"))">
                        <option value="">Please select one</option>
                    </select>
                    <span asp-validation-for="@Model.Book.GenreId" class="text-danger"></span>
                    <br />
                    <label asp-for="@Model.Book.Stock" class="control-label"></label>
                    <input asp-for="@Model.Book.Stock" class="form-control" />
                    <span asp-validation-for="@Model.Book.Stock" class="text-danger"></span>

                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.Book.Price" class="control-label"></label>
                    <input asp-for="@Model.Book.Price" class="form-control" />
                    <span asp-validation-for="@Model.Book.Price" class="text-danger"></span>
                    <br />
                    <label asp-for="@Model.Book.SalePercent" class="control-label"></label>
                    <input asp-for="@Model.Book.SalePercent" class="form-control" />
                    <br />
                    <label asp-for="@Model.Book.DiscountedPrice" class="control-label"></label>
                    <input asp-for="@Model.Book.DiscountedPrice" class="form-control" />
                    <span asp-validation-for="@Model.Book.DiscountedPrice" class="text-danger"></span>
                    <br />


                    <label asp-for="@Model.Book.Image" class="control-label"></label>
                    <div class="custom-file">
                        <input id="fileupload" type="file" asp-for="@Model.Book.Image" />
                        <hr />
                        <div id="dvPreview"></div>
                    </div>
                    <span asp-validation-for="@Model.Book.ImageUrl" class="text-danger"></span>

                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-dark button" />
        </div>
    </form>
</body>
</html>