@model BookStore.ViewModels.SearchVM

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchForGenre</title>
</head>
<body>
    <!-- Banner Ends Here -->
    <!-- Featured Starts Here -->
    <div class="featured-items">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <div class="line-dec"></div>
                        @if (Model.GenreName != null)
                        {
                            <h1>@Model.GenreName</h1>
                        }
                        else
                        {
                            <h1>@Model.WriterName</h1>
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme w-auto">
                        @foreach (var book in Model.BookDtos)
                        {
                            <a href="/Shop/BookDetails/@book.BookId">
                                <div class="featured-item border border-secondary">
                                    <img src="/images/@book.ImageUrl" style="height:280px">
                                    <h4>@book.BookName</h4>
                                    @if (book.Price == book.DiscountedPrice)
                                    {
                                        <span style="color:black" class="newPrice">@book.DiscountedPrice man.</span>
                                    }
                                    else
                                    {
                                        <span style="text-decoration:line-through;color:black" class="oldPrice">@book.Price man.</span>
                                        <span class="newPrice" style="color:black">  @book.DiscountedPrice man.</span>
                                    }
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
